.box {
  background-image: url("https://w0.peakpx.com/wallpaper/616/546/HD-wallpaper-battle-royale-games-fortnite-marshmello-skin-games.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
}
